{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}

{% block header %}
    <!-- Next tag loads Charts.js https://www.chartjs.org/docs/latest/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js"
            integrity="sha512-tMabqarPtykgDtdtSqCL3uLVM0gS1ZkUAVhRFu1vSEFgvB73niFQWJuvviDyBGBH22Lcau4rHB5p2K2T0Xvr6Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block content %}

    <!--
    Examples of what to show in Dashboard:

    - Ranking of visited documents (from results page)
    - Visitor's preferred browsers
    - Visitor's city (from IP)
    - preferred queries ranking
    - preferred terms
    - etc.

    -->
<div class="container mt-5">
    <div class="row">
            <!-- Sidebar Navigation -->
        <div class="col-md-3">
            <div class="card">
                <div class="card-header bg-light">
                    <h5 class="mb-0">Navigation</h5>
                </div>
                <div class="card-body">
                    <a href="/" class="btn btn-outline-secondary btn-block mb-2">⬅️ Go Back Home</a>
                    <a href="/stats" class="btn btn-info btn-block mb-2">📊 View Stats</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h1>Dashboard</h1>
                <h3>General stadistics</h3>
                <ul>
                    <li><strong>Total unique queries made:</strong> {{query_stats}} </li>
                    <li><strong>Total searches:</strong> {{ total_searches }}</li>
                    <li><strong>Total unique visitors:</strong> {{ visitor_stats }}</li>
                    <li><strong>Total active sessions:</strong> {{ session_stats }}</li>
                </ul>
                <h3>Graphics</h3>
                <!-- Row 1: Unique Queries and Visited Documents -->
                <div class="row">
                    <div class="col-md-6">
                        <h5>Ranking of Unique Queries</h5>
                        <canvas id="uniqueQueriesChart" width="400" height="400"></canvas>
                    </div>
                    <div class="col-md-6">
                        <h5>Ranking of Visited Documents</h5>
                    <canvas id="dailyVisits" width="400" height="400"></canvas>
                    </div>
                </div>
                <hr>
                <!-- Row 2: Browser Usage and Operative Systems -->
                <div class="row mt-4">
                    <div class="col-md-6">
                        <h5>Browser Usage</h5>
                        <canvas id="browserChart" width="400" height="400"></canvas>
                    </div>
                    <div class="col-md-6">
                        <h5>Operative Systems</h5>
                        <canvas id="osChart" width="400" height="400"></canvas>
                    </div>
                </div>
                <hr>
                <!-- Row 3: Countries and Cities -->
                <div class="row mt-4">
                    <div class="col-md-6">
                        <h5>Countries</h5>
                        <canvas id="countriesChart" width="400" height="400"></canvas>
                    </div>
                    <div class="col-md-6">
                        <h5>Cities</h5>
                        <canvas id="citiesChart" width="400" height="400"></canvas>
                    </div>
                </div>
                <hr>
                <!-- Row 4: Search Time of the Day and Search Dates -->
                <div class="row mt-4">
                    <div class="col-md-6">
                        <h5>Search Time of the Day</h5>
                        <canvas id="timeChart" width="400" height="400"></canvas>
                    </div>
                    <div class="col-md-6">
                        <h5>Search Dates</h5>
                        <canvas id="datesChart" width="400" height="400"></canvas>
                    </div>
                </div>
                <hr>
        </div>
        <script>
            
            // 'visited_docs' is the data coming from Python code.
            // load the python list in the JS variable 'visits_list':
            const visits_list = {{ visited_docs | tojson | safe }};
            const queries_list = {{ unique_queries | tojson | safe }};
            console.log("visited docs: ")
            console.log(visits_list)
            
        
            // Extract labels (queries) and data (counts) from queries_list
            const queryLabels = queries_list.map(queryItem => queryItem.query);
            const queryCounts = queries_list.map(queryItem => queryItem.count);

            // Define chart data for unique queries
            const queryChartData = {
                labels: queryLabels,
                datasets: [{
                    label: 'Query Counts',
                    data: queryCounts,
                    backgroundColor: 'rgba(54, 162, 235, 0.6)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            };

            // Create the bar chart for unique queries
            const uniqueQueriesCtx = document.getElementById('uniqueQueriesChart').getContext('2d');
            const uniqueQueriesChart = new Chart(uniqueQueriesCtx, {
                type: 'pie',
                data: queryChartData,
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        title: { display: true, text: 'Distinctive queries made'},
                        legend: { display: true }
                    }
                }
            });
       
            // use JS map function top get just the tweet ids as labels
            const visitsLabels = visits_list.map(a => a.doc_id);
            const visitsData = visits_list.map(a => a.counter);
            const chartData1 = {
                labels: visitsLabels,
                datasets: [{
                    label: 'Visits count',
                    // data: [65, 59, 80, 81, 56, 55, 40],
                    data: visitsData,
                    fill: false,
                    backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56']
                }]
            };

            const ctx = document.getElementById('dailyVisits').getContext('2d');

            // This will render the chart
            const myChart = new Chart(ctx, {
                type: 'doughnut',
                data: chartData1,
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        title: { display: true, text: 'Visits per documents'},
                        legend: { display: false }
                    }
                }
            });

            const browserData = {{ browser_distribution | tojson | safe }};
            const browserLabels = Object.keys(browserData);
            const browserCounts = Object.values(browserData);

            new Chart(document.getElementById('browserChart').getContext('2d'), {
                type: 'bar',
                data: {
                    labels: browserLabels,
                    datasets: [{
                        data: browserCounts,
                        backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56']
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        title: { display: true, text: 'Prefered browsers for searching' },
                        legend: { display: false }
                    }
                }
            });
      
            const osData = {{ os_distribution | tojson | safe }};//{ "Windows": 1 };
            const osLabels = Object.keys(osData);
            const osCounts = Object.values(osData);

            new Chart(document.getElementById('osChart').getContext('2d'), {
                type: 'bar',
                data: {
                    labels: osLabels,
                    datasets: [{
                        data: osCounts,
                        backgroundColor: 'rgba(54, 162, 235, 0.6)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                    }]
                },
                options: {
                    indexAxis: 'y', // Horizontal bars
                    plugins: { 
                        title: { display: true, text: 'Operative Systems used for searches' },
                        legend: { display: false}    
                    }

                }
            });
      
            const countryData = {{ country_distribution | tojson | safe }};//{ "Spain": 1 };
            const countryLabels = Object.keys(countryData);
            const countryCounts = Object.values(countryData);

            new Chart(document.getElementById('countriesChart').getContext('2d'), {
                type: 'pie',
                data: {
                    labels: countryLabels,
                    datasets: [{
                        data: countryCounts,
                        backgroundColor: 'rgba(54, 162, 235, 0.6)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                    }]
                },
                options: {
                    plugins: { 
                        title: { display: true, text: 'Countries where searches are performed' },
                        legend: {display: true}
                    }
                }
            });
      
            const cityData = {{ city_distribution | tojson | safe }};
            const cityLabels = Object.keys(cityData);
            const cityCounts = Object.values(cityData);

            new Chart(document.getElementById('citiesChart').getContext('2d'), {
                type: 'bar',
                data: {
                    labels: cityLabels,
                    datasets: [{
                        data: cityCounts,
                        backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56']
                    }]
                },
                options: {
                    indexAxis: 'y',
                    plugins: { 
                        title: { display: true, text: 'Cities where searches are performed' },
                        legend: {display: false}
                }
                }
            });
        
            const timeData = {{ time_of_day_stats | tojson | safe }};
            const timeLabels = Object.keys(timeData);
            const timeCounts = Object.values(timeData);

            new Chart(document.getElementById('timeChart').getContext('2d'), {
                type: 'line',
                data: {
                    labels: timeLabels,
                    datasets: [{
                        data: timeCounts,
                        //borderColor: '#36A2EB',
                        backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56'],
                        fill: true
                    }]
                },
                options: {
                    plugins: { 
                        title: { display: true, text: 'People searching per hour' },
                        legend: {display: false}
                    }
                }
            });
      
            const dateData = {{ date_stats | tojson | safe }};
            const dateLabels = Object.keys(dateData);
            const dateCounts = Object.values(dateData);

            new Chart(document.getElementById('datesChart').getContext('2d'), {
                type: 'bar',
                data: {
                    labels: dateLabels,
                    datasets: [{
                        data: dateCounts,
                        backgroundColor: 'rgba(54, 162, 235, 0.6)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                    }]
                },
                options: {
                    plugins: { 
                        title: { display: true, text: 'People searching per day' },
                        legend: {display: false}
                    }
                }
            });
        </script>
    </div>
    <div>
        <h5>Debug: Data Overview</h5>
        {% for doc in visited_docs %}
            <hr>
            <div class="pb-3">
                <div class="">
                    <span class="text-dark"> ({{ doc.counter }} visits) </span> — id: {{ doc.doc_id }}
                    — {{ doc.description }}
                </div>
            </div>
            
        {% endfor %}    
    </div>
    <br/>  
    <div>
        <h5>Visitors Overview</h5>
        {% for session in fact_sessions %}
            <div class="card mb-3">
                <div class="card-body">
                    <span class="text-dark"> {{ session.user_ip }} - {{ session.browser }} - {{ session.os }} - {{ session.city }} - {{ session.country }} </span>
                </div>
            </div>
        {% endfor %}    
        <br/>
    </div>
    <div>
        <h5>Last 5 Requests Overview</h5>
        <ul class="list-group">
            {% for request in all_requests[-5:] %}
                <li class="list-group-item">
                    {{ request.endpoint }} - {{ request.method }} - {{ request.timestamp }}
                </li>
            {% endfor %}
        </ul>
        <br/>
    </div>
              
</div>   
{% endblock %}


