{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Sidebar Navigation -->
        <div class="col-md-3">
            <div class="card">
                <div class="card-header bg-light">
                    <h5 class="mb-0">Navigation</h5>
                </div>
                <div class="card-body">
                    <a href="/" class="btn btn-outline-secondary btn-block mb-2">⬅️ Go Back Home</a>
                    <a href="/dashboard" class="btn btn-success btn-block mb-2">🏠 Go to Dashboard</a>
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <div class="col-md-9">
            <h1>Quick Stats</h1>
            <h4>Clicked docs:</h4>

            {% for doc in clicks_data %}
                <div class="card">
                    <div class="card-body">
                        <ul class="list-unstyled mt-3">
                            <li><strong>Id:</strong> {{doc.id}} </li>
                            <li><strong>Description:</strong> {{ doc.description }}</li>
                            <hr/>
                            <li><strong>Number of visits:</strong> {{ doc.count }}</li>
                            <li><strong>Avg dwell time:</strong> {{ doc.avg_dwell_time }} seconds</li>
                            <li><strong>Related queries:</strong> 
                                {% if doc.queries %}
                                    {{ doc.queries | join(", ") }}
                                {% else %}
                                    None
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
                <br/>
            {% endfor %}
        </div>  
    </div>
</div>
{% endblock %}
